@model _2012113194_ENT.Carro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumSerieChasis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerieChasis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
